<div id="<%= dom_id service %>">
  <p>
    <strong>Date:</strong>
    <%= service.date %>
  </p>

  <p>
    <strong>Type service:</strong>
    <%= service.type_service %>
  </p>

  <p>
    <strong>Cout:</strong>
    <%= service.cout %>
  </p>

  <p>
    <strong>Voiture:</strong>
    <%= service.voiture_id %>
  </p>

  <p>
    <strong>Employe:</strong>
    <%= service.employe_id %>
  </p>

</div>
