<div id="<%= dom_id part %>">
  <p>
    <strong>Nom:</strong>
    <%= part.nom %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= part.prix %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= part.stock %>
  </p>

  <p>
    <strong>Voiture:</strong>
    <%= part.voiture_id %>
  </p>

</div>
