<div id="<%= dom_id voiture %>">
  <p>
    <strong>Numero immatriculation:</strong>
    <%= voiture.numero_immatriculation %>
  </p>

  <p>
    <strong>Couleur:</strong>
    <%= voiture.couleur %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= voiture.statut %>
  </p>

  <p>
    <strong>Annee:</strong>
    <%= voiture.annee %>
  </p>

  <p>
    <strong>Marque:</strong>
    <%= voiture.marque %>
  </p>

  <p>
    <strong>Garage:</strong>
    <%= voiture.garage_id %>
  </p>

  <p>
    <strong>Proprietaires:</strong>
    <%= voiture.proprietaire_id %>
  </p>

</div>
